* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin: 20px 0;
  font-size: 1.75em;
}

.section {
  position: relative;
  background-color: #dfd9d9;
  border: 1px solid black;
  margin: 15px;
  padding: 70px 15px 15px 15px;
  float: left;
}

.section-title {
  position: absolute;
  top: 0;
  right: 0;
  width: 120px;
  padding: 5px;
  text-align: center;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  font-size: 1.2em;
}

#title1 {
  background-color: rgb(224, 147, 147);
}

#title2 {
  background-color: brown;
  color: white;
}

#title3 {
  background-color: #dfbb58;
}

/* Desktop view (≥992px) */
@media (min-width: 992px) {
  .section {
    width: calc(33.33% - 30px);
  }
}

/* Tablet view (768px-991px) */
@media (min-width: 768px) and (max-width: 991px) {
  #section1,
  #section2 {
    width: calc(50% - 30px);
  }
  #section3 {
    width: calc(100% - 30px);
  }
}

/* Mobile view (≤767px) */
@media (max-width: 767px) {
  .section {
    width: calc(100% - 30px);
  }
}
